@use "base/variables" as v;
@use "base/mixins" as m;
@use 'sass:color';


@include m.tablet{
    .contenedor-anuncio{
        @include m.grid(3, 2rem)
    }
}

.anuncio{
    background-color: color.adjust(v.$gris, $lightness: 5%);
    border: 1px solid color.adjust(v.$grisOscuro, $lightness: 60%);
    margin-bottom: 4rem;


    .contenido-anuncio{
        padding: 2rem;
    }
    h3, p{
        margin: 0;
    }
}

.precio{
    color: v.$verde;
    font-weight: bold;
    font-size: 3rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;
        margin: 0 2rem;
        
        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
            min-width: 5rem;
        }
        p{
            font-weight: bold;
            margin-top: 1rem;
        }
    }
}