:root{
    --blanco: #ffffff;

    --negro: #212121;

    --primario: #FFC107;

    --secundario: #0097A7;

    --gris: #757575;

    --rojito: #A4133C;
    
    --negrito: #1A1A1A;
}

/*Estilos de codigo: Modulos, BEM, Utilidades*/
/*Estilos usados: Modulos (muy parecido a BEM en personal y utilidades*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

.titulo, .Servicios-info , .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
  box-sizing: inherit;
}


  /*Tipografia*/
body{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to top, #DEE9F3 0%, white 100%);
}

p{    
    font-weight: lighter;
}


.titulo {
    color: black;
    text-align: center;
    font-size: 3.8rem;

}

.titulo span{       /*Diseño de: Desarrollo Web y Gestion...*/
    font-size: 2rem;
    color: black;
    font-weight: 400;
}

.Segundo_titulo{        /*Formato para imagen*/
    background-image: url(../img/examstock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 1.75rem;   /*Relleno*/
    margin-bottom: 2rem;    /*Separacion hacia abajo*/
    position: relative;     /*Agarra todo su espacio para que el hijo se pueda posicionar*/
}

.Segundo_titulo h2{                  /*Diseño de: formacion academica*/
    color: var(--primario);
    font-size: 3rem;
    font-weight: 500;
}


.Contenido_titulo{
    position: absolute;     /*El hijo puede agarra cualquier coordenada dentro de su caja padre*/
    background-color: rgba(0, 0, 0, 0.4);
    /*Puede usarse tambien width y height ambos al 100%*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;          /*Ordenar articulos dentro de la imagen*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Contenido_titulo p{
    color: white;
}



.Titulo-4{                  /*Mis servicios*/
    display: flex;
    align-items: center;
    font-size: xx-large;
    justify-content: center;
}

h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}


.navegacion_principal{      /*Diseño adicional de barra de links*/
    display: flex;
    /*flex-direction (row #default) o column para alinear en columnas */
    /*align-items: izq, centro o derecha apra datos verticales*/
    flex-direction: column;
    align-items: center;
}

.navegacion_principal a{    /*Diseño de los links d barra principal*/
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 1rem;          /*Borde del cuaddro*/
    text-decoration: none;  /*Elimina lo subrayado*/
    font-size: 2rem;
    font-weight: 700;
}

.navegacion_principal a:hover{      /*Diseño con cursor encima*/
    background-color: var(--primario);
    color: black;
}
                    /*Al igual esta visited q puede q sirva*/

.navegacion_principal a:focus{      /*Diseño si se navega con tabulador*/
    background-color: var(--primario);
    color: black;
}


.button{
    background-color: var(--secundario);
    color: white;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;        /*Recortar esquinas*/
    height: auto;
    width: 90%;
    text-align: center;
    border: none;
}

.button:hover{
    cursor: pointer;
}

.button:hover{
    background-color: var(--primario);
    color: black;
}



.sombra-main{               
    box-shadow: 0px 4px 5px 0px rgba(99,99,99,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(99,99,99,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(99,99,99,0.75);
    background-color: white;
    padding: 0rem 2rem 2rem 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 2rem;
}


.imagen-servicios{          /*Computadora y servidor imagen*/
    padding: 1rem;
}

.Servicios{                 /*Diseño de texto centrado*/
    display: flex;
    justify-content: center;
    font-size: large;
    align-items: center;
    font-weight: bold;
}

.Servicios-info{            /*Diseño web, gestion servidores*/
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding: 0rem 2rem;
    line-height: 2;
    text-align: center;
}


/*Utilidades*/

.nav_background{        /*Fondo para la barra de los links*/
    background-color: var(--secundario);
}

.w_sm_100{          /*Controla el ancho del boton enviar del formulario*/
    width: 100%;
}

@media (min-width: 480px) { /*Cambia el tamaño del boton enviar del form*/
    .w_sm_100{
        width: auto;    
        margin-top: 4rem;       /*Causaba conflicto con el text-area*/
    }
}
.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}




.formulario{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    width: min(60rem, 100%);
    margin: 0 auto;
    border-radius: 2rem;
    padding: 2rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    color: var(--primario);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@media (min-width: 480px) {
    .contenedor-formulario{         /*Diseño de formulario de dispositivos*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    grid-template-rows: auto auto 20rem;
    }

    .campos:nth-child(3), .campos:nth-child(4){       /*nthchild agarra el n-elemento de un arreglo
                                donde el primer indice es 1*/
        grid-column: 1 / 3;     /*Esto le dice al elemento en q columna o fila
                                acomodarse*/
    }
}

.campos{
    margin-bottom: 1rem;
}

.campos label{      /*Diseño de las partes del formulario (Nombre, tel etc)*/
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text{        /*Los cuadros de texto pierden diseño defualt*/
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.7rem;
}

.campos textarea{       /*Area del cuadro de mensaje del formulario*/
    height: 20rem;
}


/*Footer*/

.Pie_pagina p{
    text-align: center;
}



/*Media queries: Son para adaptar las paginas a ciertostamaños (dispositivos)*/
/*El parametro es: que si pasa de eso, el media querie toma efecto*/

@media (min-width: 480px) {

        .navegacion_principal{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .Contenido_titulo .button{
        width: auto;
        height: auto;
    }

    
    .cuadro-servicios{
    display: grid;}


    /*grid: 30px 30px / 60px 60px  Esto lo q hace es hacer una matriz o tabla
    y puede servir para los enlaces q tengo de perfil, portaolofio web y certificaciones
    
    aparte de ser 30px! puede ser 1fr, fr siendo una fraccion del 
    espacio q se puede usar*/

}


/*
@media (min-width: 768px) {
    .navegacion_principal{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .button{
        width: auto;
        height: auto;
    }

}       */
       