
:root{
  --primario: #9c27b0;
  --primario-oscuro: #89119b;
  --secundario: #ffcE00;
  --secundario-oscuro: rgb(233, 187, 2);
  --blanco: #fff;
  --negro: #000;
  --fuente-principal: "Staatliches";
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5;
}


*, *:before, *:after {
  box-sizing: inherit;
}

/*Globales*/

body{
  background-color: var(--primario);
  font-size: 1.6rem;
  font-family: var(--fuente-principal);
  font-weight: 400;
  font-style: normal;
}

p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  border: none;
  margin: auto;
}

.contenedor{
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
   .contenedor{
  max-width: 100rem;
  margin: 0 auto;
  }
}

h1, h2, h3{
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuente-principal);
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.4rem;
}

/*Header*/

.header{
  display: flex;
  justify-content: center;
}

/*Footer*/

.footer{
  background-color: var(--primario-oscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto{
  text-align: center;
  font-family: var(--fuente-principal);
  font-size: 2.2rem;
}

.header__logo{
  margin: 3rem 0;
}

/*navegacion*/

.navegacion{
  background-color: var(--primario-oscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  /*gap: 2rem; Separacione ntre "Tienda Productos" que ciertos navegadores no soportan*/
}

.navegacion__enlace{
  font-family: var(--fuente-principal);
  color: var(--blanco);
  font-size: 3rem;
  margin: 0 2rem;
}

.navegacion__enlace:last-of-type{
  margin: 0;
}

.navegacion__enlace:hover, .navegacion__enlace--activo{
  color: var(--secundario);
}

/*Producto*/

.producto{
  background-color: var(--primario-oscuro);
  padding: 1rem;
  border-radius: .5rem;
}


.producto__informacion{
  text-align: center;
  line-height: 2rem;
}

.producto__nombre{
  font-size: 4rem;
}

.producto__precio{
  font-size: 2.8rem;
  color: var(--secundario);
}

.producto__nombre, .producto__precio{
  font-family: var(--fuente-principal);
}

/*Grid*/

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

@media (min-width: 768px) {
   .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
}

/*Graficos*/

.grafico{
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}

.grafico--camisas{
  grid-row: 2 / 3;
  background-image: url(../img/grafico1.jpg);  
  border-radius: .5rem;
}

.grafico--node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
  border-radius: .5rem;
}

@media (min-width: 768px ) {
  .grafico--node{
  background-image: url(../img/grafico2.jpg);
  grid-row: 5 / 6 ;
  grid-column: 2 / 4 ;
  border-radius: .5rem;
  }
}

/*Nosotros*/

.nosotros{
  display: grid;
  grid-template-rows:repeat(2, auto);

}

@media (min-width: 768px) {
  .nosotros{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  }

  .nosotros__imagen{
    grid-column: 2 / 3;
    border-radius: .4rem;
  }
}

.nosotros__imagen{
  grid-row: 1 / 2;
  width: 90%;
  margin: auto;
  border-radius: .4rem;
}

/*Bloques*/

.bloques{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}


.bloque {
  text-align: center;
}



@media (min-width: 768px) {
  .bloques{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
   .bloque__imagen{
    width: 100%;
   }
}

.bloque__titulo{
  margin: 0;
}

/*Pagina de producto*/

@media (min-width: 768px) {
   .camisa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
   }
}

.formulario{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.formulario__campo{
  border-color: var(--primario-oscuro);
  border-width: 1rem;
  border-style: solid;
  background-color: var(--primario);
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--fuente-principal);
  padding: 1rem;
}

.formulario__submit{
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuente-principal);
  padding: 2rem;
  transition: background-color .5s ease;
  transition: font-size .5s ease-in-out;
  margin: .2rem;
  grid-column: 1 / 3;
}

.formulario__submit:hover{
  cursor: pointer;
  background-color: var(--secundario-oscuro);
  font-size: 2.4rem;
}