@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.video{

    position: relative;
    min-height: 50rem;
    max-height: 60rem;
    overflow: hidden;
    .overlay{
        position: absolute;
        inset: 0;
        background: linear-gradient(
            279deg, 
            rgba(v.$morado, 60%),
            color.adjust(v.$morado, $lightness: -5%)
        );
        
        display: flex;
        align-items: center;

    }

    video{
        display: block;
        width: auto;
        @include m.desktop{
            width: 100%;
        }
    }
}

.contenido-video{
    z-index: 10;
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }

    p{
        color: v.$blanco;
        font-size: 2.4rem;
        font-weight: bold;
        background-color: v.$rosa;
        display: inline-block;
        padding: 1rem 2rem;
        margin: 0;
    }
}