@use "base/variables" as v;
@use "base/mixins" as m;

h1{
    font-weight: bold;
}

@include m.tablet{
    .iconos-nosotros{
        @include m.grid(3,2rem)
    }
}

.icono{
    text-align: center;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
        font-weight: bold;
    }
}