    h1 {
        text-align: center;
        color: red;

    }

    h2 {
        text-align: center;
        color: burlywood;
        text-decoration: solid;
        text-transform: uppercase;
        
    }